body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: "brush script mt";
    text-shadow: 2px 2px gray;
    
    
}

.avatar {
    width: 150px;
}

.card {
    width: 375px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #136f63;
    color: #00072d;
    border-bottom: 10px solid #1e1b18;
    Border-left: 10px solid #1e1b18;
    border-top: 5px solid #1e1b18;
    border-right: 5px solid #1e1b18;
    border-radius: 5px;
    
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
